Sdl.FileTypeSupport.Framework.Core/Sdl.FileTypeSupport.Framework.Core.IntegrationApi/FileTypeProfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name='non-empty-string'>
		<xs:restriction base='xs:string'>
			<xs:minLength value='1'/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="fileTypeInformation">
    <xs:complexType>
      <xs:sequence>
		<xs:element minOccurs="0" name="fileTypeInformationVersion" type="xs:string" />
		<xs:element name="fileTypeDefinitionId" type="non-empty-string" />
        <xs:element minOccurs="0" name="fileTypeName" type="xs:string" />
        <xs:element minOccurs="0" name="fileTypeDocumentName" type="xs:string" />
        <xs:element minOccurs="0" name="fileTypeDocumentsName" type="xs:string" />
        <xs:element minOccurs="0" name="fileDialogWildcardExpression" type="xs:string" />
        <xs:element minOccurs="0" name="expression" />
        <xs:element minOccurs="0" name="description" type="xs:string" />
      </xs:sequence>
		<xs:attribute name="version"/>
	</xs:complexType>
  </xs:element>
</xs:schema>